// body {
//     font-family: 'Open Sans';
// }

// .stepper-bar {
//     display: table;
//     width: 100%;
//     margin: 0 auto;
// }

// .stepper-bar .step {
//     display: table-cell;/*Arrange in bar*/
//     position: relative;
//     padding: 1.5rem;/*circle fix on th eline gap*/
//     z-index: 2;
//     width: 25%;
// }

// .stepper-bar .step:last-child .step-bar-left{
//     display: none;
// }

// .stepper-bar .step .step-circle {/*All about circle style*/
//     width: 2rem;
//     height: 2rem;
//     margin: 0 auto;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 1.75rem;
//     font-size: 1rem;
//     font-weight: 600;
//     z-index: 2;
//     border: 2px solid #D9E2EC;
// }

// .stepper-bar .step.done .step-circle {
//     background-color: #199473;/*After done circle colour green*/
//     border: 2px solid #199473;
//     color: #FFFFFF;
// }

// .stepper-bar .step.done .step-circle:before {
//     font-family: 'FontAwesome';
//     font-weight: 100;
//     content: "\f00c";
// }

// .stepper-bar .step.done .step-circle * {/*Hiding the number after done*/
//     display: none;
// }

// .stepper-bar .step.done .step-title {/*title colour green after done*/
//     color: #102A43;
// }

// .stepper-bar .step.editing .step-circle {/*circle style while editing*/
//     background: #ffffff;
//     border-color: #199473;
//     color: #199473;
// }

// .stepper-bar .step.editing .step-title {/*title style while editing*/
//     color: #199473;
//     text-decoration: underline;
// }

// .stepper-bar .step .step-title {
//     margin-top: 1rem;
//     font-size: 1rem;
//     font-weight: 600;
// }

// .stepper-bar .step .step-title,
// .stepper-bar .step .step-date {
//     text-align: center;
//     color: #829AB1;
// }

// .stepper-bar .step .step-date {
//     font-size: 0.95rem;
//     font-style: italic;
//     color: #9FB3C8;
// }

// .stepper-bar .step .step-bar-left,
// .stepper-bar .step .step-bar-right {/*Progress bar style*/
//     position: absolute;
//     top: calc(2rem + 5px);
//     height: 5px;
//     background-color: #D9E2EC;
//     border: solid #D9E2EC;
//     border-width: 2px 0;
// }

// .stepper-bar .step .step-bar-left {
//     width: calc(100% - 2rem);
//     left: 50%;
//     margin-left: 1rem;
//     z-index: -1;
// }

// .stepper-bar .step .step-bar-right {
//     width: 0;
//     left: 50%;
//     margin-left: 1rem;
//     z-index: -1;
// }

// .stepper-bar .step.done .step-bar-right {/*Progress indication of progress bar*/
//     background-color: #199473;
//     border-color: #199473;
//     z-index: 3;
//     width: calc(100% - 1rem);
// }

// /**/
// .stepper-bar .step.progress .step-bar-left {
//     background-color:orange;
//     border-color: orange;
//     z-index: 3;
//     width: calc(100% - 1rem);
// }

// .stepper-bar .step.progress .step-circle:before {
//     font-family: 'FontAwesome';
//     font-weight: 100;
//     content: "\f00c";
// }

// .stepper-bar .step.progress .step-circle * {/*Hiding the number after progress*/
//     display: none;
// }

// .stepper-bar .step.done .step-date {
//     font-size: 0.95rem;
//     font-style: italic;
//     color: green;
// }
// .stepper-bar .step.progress .step-date {
//     font-size: 0.95rem;
//     font-style: italic;
//     color: green;
// }

// .stepper-bar .step.cancel .step-circle {
//     background: #ffffff;
//     border-color:grey;
//     background-color: grey;
//     text-indent: -9999px
// }

// .stepper-bar .step.inComplete .step-circle {
//     background: #ffffff;
//     border-color: orange;
//     background-color: orange;
//     text-indent: -9999px
// }

// // .stepper-bar .step.cancel .step-bar-right {
// //     background-color: #ffffff;
// //     border-color:#ffffff;
// //     z-index: 3;
// //     width: calc(100% - 1rem);
// // }

// .stepper-bar .step.stop .step-circle {
//     background: #ffffff;
//     border-color: green;
//     background-color: green;
//     text-indent: -9999px
// }

body {
    font-family: 'Open Sans';
}

.step {
    display: table-cell;/*Arrange in bar*/
    position: relative;
    padding: 1.5rem;/*circle fix on th eline gap*/
    z-index: 2;
    width: 25%;
}

.step:last-child .step-bar-left{
    display: none;
}

 .step .step-circle {/*All about circle style*/
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    line-height: 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    z-index: 2;
    border: 2px solid #D9E2EC;
}
//  .step.done .step-circle {
//     background-color: #199473;/*After done circle colour green*/
//     border: 2px solid #199473;
//     color: #FFFFFF;
// }

//  .step.done .step-circle:before {
//     font-family: 'FontAwesome';
//     font-weight: 100;
//     content: "\f00c";
// }

//  .step.done .step-circle * {/*Hiding the number after done*/
//     display: none;
// }

//  .step.done .step-title {/*title colour green after done*/
//     color: #102A43;
// }

 .step.editing .step-circle {/*circle style while editing*/
    background: #ffffff;
    border-color: #199473;
    color: #199473;
}

 .step.editing .step-title {/*title style while editing*/
    color: #199473;
    text-decoration: underline;
}

 .step .step-title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

 .step .step-title,
 .step .step-date {
    text-align: center;
    color: #829AB1;
}

 .step .step-date {
    font-size: 0.95rem;
    font-style: italic;
    color: #9FB3C8;
}

.step .step-bar-left,
 .step .step-bar-right {/*Progress bar style*/
    position: absolute;
    top: calc(2rem + 5px);
    height: 5px;
    background-color: #D9E2EC;
    border: solid #D9E2EC;
    border-width: 2px 0;
}

 .step .step-bar-left {
    width: calc(100% - 2rem);
    left: 50%;
    margin-left: 1rem;
    z-index: -1;
}
 .step .step-bar-right {
    width: 0;
    left: 50%;
    margin-left: 1rem;
    z-index: -1;
}
 .step.done .step-bar-right {/*Progress indication of progress bar*/
    background-color: #199473;
    border-color: #199473;
    z-index: 3;
    width: calc(100% - 1rem);
}

/**/
 .step.progress .step-bar-right {
    background-color:orange;
    border-color: orange;
    z-index: 3;
    width: calc(100% - 1rem);
}

 .step.progress .step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f00c";
}

 .step.progress .step-circle * {/*Hiding the number after progress*/
    display: none;
}

 .step.done .step-date {
    font-size: 0.95rem;
    font-style: italic;
    color: green;
}
 .step.progress .step-date {
    font-size: 0.95rem;
    font-style: italic;
    color: green;
}

 .step.cancel .step-circle {
    background: #ffffff;
    border-color:grey;
    background-color: grey;
    text-indent: -9999px
}

 .step.inComplete .step-circle {
    background: #ffffff;
    border-color: orange;
    background-color: orange;
    text-indent: -9999px
}

//  .step.cancel .step-bar-right {
//     background-color: #ffffff;
//     border-color:#ffffff;
//     z-index: 3;
//     width: calc(100% - 1rem);
// }

 .step.stop .step-circle {
    background: #ffffff;
    border-color: green;
    background-color: green;
    text-indent: -9999px
}
// .step.successDone .step-circle {
//     background: #ffffff;
//     border-color: green;
//     background-color: green;
//     text-indent: -9999px
// }
// .step.successDone .step-circle:before {
//     font-family: 'FontAwesome';
//     font-weight: 100;
//     content: "\f00c";
// }

/*-------------------------------------------------------------------------------------------------*/

.step.successDone .step-circle {
    background-color: #199473;/*After done circle colour green*/
    border: 2px solid #199473;
    color: #FFFFFF;
}

 .step.successDone .step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f00c";
}

 .step.successDone .step-circle * {/*Hiding the number after done*/
    display: none;
}

 .step.successDone .step-title {/*title colour green after done*/
    color: #199473;
}

.step.done .step-circle {
    background-color: #199473;/*After done circle colour green*/
    border: 2px solid #199473;
    color: #FFFFFF;
}

 .step.done .step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f00c";
}

 .step.done .step-circle * {/*Hiding the number after done*/
    display: none;
}

 .step.done .step-title {/*title colour green after done*/
    color: #199473;
}
.step.progress .step-circle {
    background-color: #199473;/*After done circle colour green*/
    border: 2px solid #199473;
    color: #FFFFFF;
}

 .step.progress .step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f00c";
}

 .step.progress .step-circle * {/*Hiding the number after done*/
    display: none;
}

 .step.progress .step-title {/*title colour green after done*/
    color: #102A43;
}
.step.successDone .step-title {/*title style while editing*/
    color: #199473;
    text-decoration: underline;
}

.step.successDone .step-date {
    font-size: 0.95rem;
    font-style: italic;
    color: green;
}